* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Varela Round", sans-serif;
  background: linear-gradient(to right, #919191, #835c5c);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid button {
  cursor: pointer;
  font-size: 20px;
  border: 1px solid #fff;
  background-color: rgba(199, 199, 199, 0.65);
}

.calculator-grid button:hover {
  background-color: #00000070;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background: #000000a1;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 15px;
  word-wrap: break-word;
  word-break: break-all;
}

.previous-operand {
  color: #929292;
  font-size: 26px;
}

.current-operand {
  color: #fff;
  font-size: 38px;
}
